{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create new Auction</h2>

    <form action="{% url 'create' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form.visible_fields %}
            <div class="row">
                <div class="col">
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.errors %}
                        <ul>
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="row">
            <div class="col">
                <input type="submit" value="Create"/>
            </div>
        </div>
    </form>
{% endblock %}